* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
}

.bg-image {
  background-color: rgb(215, 232, 238);
  background-image: linear-gradient( rgb(233, 243, 247), rgb(217, 241, 250));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.brand-logo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: whitesmoke;
  padding: 0.5rem;
}

.navbar-item {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: whitesmoke;
  font-size: 20px;
}

.button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: whitesmoke;
}

.navbar {
  background-color: rgb(51, 50, 50);
}

.quizContainer {
  background-color: rgb(240, 253, 235);
  color: rgb(51, 50, 50);
  font-family: inherit;
  font-size: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 600px;
  max-width: 100%;
}

.quizHeader {
  padding: 4rem;
}

h2 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  color: rgb(51, 50, 50);
  font-family: inherit;
  font-size: 1.2rem;
}

ul li {
  margin: 1rem 0;
  color: rgb(51, 50, 50);
  font-family: inherit;
  font-size: 1.1rem;
}

button {
  background-color: rgb(51, 50, 50);
  color: whitesmoke;
  display: block;
  font-family: inherit;
  font-size: 1.3rem;
  width: 100%;
  padding: 1rem;
  border: none;
}

button:hover {
  background-color: rgb(10, 10, 10);
}